body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.active {
  border: 2px solid #566273;
}


.p-card {
  margin: 1.2rem;
  box-shadow: 0 2px 7px 3px #949ca5;
  border: 2px solid #566273;
  text-align: center;
;
}

.c-button {

  text-align: center;
  position: relative;
  top: 20px;
  font-size: 12px;
}

.p-card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.p-card img {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}


.p-btn {

  position: relative;
  right: 13px;
  font-size: 12px;

}


div.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

div.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.search button:hover {
  background: #0b7dda;
}

div.search::after {
  content: "";
  clear: both;
  display: table;
}

.white {

   color: white;
}

.loading-text {

   position: relative;
   top: 10px;
}

.spinner-loader {

  position: relative;
  top: 5px;
}

.image-playlist {

   width: 250px;
   height: 250px;
}

.m-right-5 {
  margin-right: 5px;
}

.happy {
  background-color: #FAA7FF;
}

.chat-editor-area .emojiarea-editor {
  padding: 3.3rem 7rem 3.3rem 1rem !important;

}

.card-chat-pane {
  max-height: 460px !important;
  width: 578px;
}